# 저장소의 편집기 설정 기준
root = true

# 공통 문자 인코딩·개행·공백·들여쓰기
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Kotlin은 공백 4칸 들여쓰기
[*.kt]
indent_size = 4
